@media print {
    .container {
      width: 100%;
      margin: 0;
      padding: 0;
      box-shadow: none;
      border: none;
    }
  
    button, #addSubjectBtn {
      display: none;
    }
  }
  